@charset "UTF-8";
@import url("/diary/css/common.css");

.addDiaryBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messageBox {
    display: flex;
    width: 316px;
    height: 30px;
    margin-bottom: 20px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 316px;
    font-size: 18px;
    font-weight: 600;
}

.checkDateInputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkDateInput input {
    width: 284px;
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.checkDateInput button {
    width: 316px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(174, 208, 156, 1);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.addDiaryInputMood {
    width: 300px;
    height: 40px;
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    padding-left: 16px;
    display:flex;
    align-items: center;
    justify-content: start;
}

.moodLabel {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 25px;
}

.addDiaryInput input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    padding-left: 16px;
}

.addDiaryInput textarea {
    width: 284px;
    height: 300px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    padding: 16px;
    resize: none;
}

.addDiaryInput select {
    width: 316px;
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    padding-left: 16px;
}

.addDiaryInput input::placeholder,
.addDiaryInput textarea::placeholder {
    font-size: 14px;
}

.addDiaryInput button {
    width: 316px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(174, 208, 156, 1);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
}

.prevBtn button {
    width: 316px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(230, 230, 230, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}