@charset "UTF-8";

/* 폰트 설정 */

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-400 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-500 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-600 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* 헤더 */

header {
    height: 48px;
    position: sticky;
    background-color: rgba(134, 195, 93, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.header-calendar {
    display: flex;
    align-items: center;
}

.calendar-yymm {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    font-weight: 500;
}

.calendar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.calendar-btn a {
    color: rgba(255, 255, 255, 0.7);
}

/* 정렬 */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cetner;
}

/* 버튼 */

.header-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-btn button {
    height: 24px;
    background-color: transparent;
    border: none;
    margin: 10px 5px;
    cursor: pointer;
}

.header-btn-column {
    height: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 10px 0 10px;
}

.common-btn {
    color: rgba(255, 255, 255, 0.7);
}

/* 입력 */

input,
textarea,
button {
    border: none;
    resize: none;
}

input:focus,
textarea:focus,
select:focus,
radio:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

/* 테이블 */

table, tr, th, td {
    border-spacing: 0px;
}