@charset "UTF-8";

* {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-400 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-500 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-600 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    font-style: normal;
}

input:focus, textarea:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diaryOneBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
}

.diaryOneContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diaryOneCommentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.diaryOneTableName {
    display: flex;
}

.diaryOneColumn {
    height: 36px;
    border-left: 1px solid rgba( 230, 230, 230, 0.8);
    margin: 0px 10px 0px 10px;
}

.diaryOneRow {
    width: 284px;
    border-bottom: 1px solid rgba( 230, 230, 230, 0.8);
    margin: 10px 0px 10px 0px;
}


.diaryOne {
    width: 284px;
    height: 16px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba( 230, 230, 230, 1);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 16px;
    
    display: flex;
    align-items: center;
    justify-content: start;
}

.feeling {
    font-size: 22px;
}

.diaryOneContent {
    width: 284px;
    height: 284px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba( 230, 230, 230, 1);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 16px 16px 16px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.diaryOneComment textarea {
    width: 284px;
    height: 28px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba( 230, 230, 230, 1);
    border-radius: 20px;
    padding: 16px;
    resize: none;
}

.diaryOneCommentOne {
    width: 284px;
    height: 60px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba( 230, 230, 230, 1);
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 10px;
}

.commentOneHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentOneHeader button {
    width: 40px;
    height: 18px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diaryOneBtnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diaryOneBtnBox button {
    width: 155px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    margin: 10px 5px 10px 5px;
}

.diaryOneCommentBtnBox button {
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.diaryOneActionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diaryOneEditBtn button {
    background-color: rgba(174, 208, 156, 1);
    color: #FFFFFF;
}

.diaryOneDeleteBtn button {
    background-color: rgba(230, 230, 230, 0.5);
    color: rgba(0, 0, 0, 0.7);
}

.diaryOneBackBtn button {
    width: 316px;
    background-color: rgba(230, 230, 230, 0.5);
    color: rgba(0, 0, 0, 0.7);
}

.diaryOneCommentBtn button {
    width: 316px;
    background-color: rgba(174, 208, 156, 1);
    color: #FFFFFF;
}