@charset "UTF-8";
@import url("/diary/css/common.css");

/* 달력 */

.calendar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.calendar-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    float: left;
    width: 100px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(134, 195, 93, 0.8);
    border-radius: 4px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-box {
    float: left;
    width: 80px;
    height: 60px;
    border-radius: 6px;
    margin: 4px 2px;
    padding: 10px;
}

.date {
    background-color: rgba(174, 208, 156, 0.8);
}

.blank-date {
    background-color: rgba(174, 208, 156, 0.4);
}

.in-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sunday {
    clear: both;
    color: #FF0000;
}

.saturday {
    color: #0000FF;
}

.today {
    background-image: url(/diary/img/pika.png);
    background-size: 120px;
}

.pockeBall {
    width: 18px;
    height: 18px;
    background-image: url(/diary/img/pokeball.png);
    background-size: cover;
    display: flex;
}

.feeling {
    font-size: 18px;
}