@charset "UTF-8";
@import url("/diary/css/common.css");

.list-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-search-wrap {
    width: inherit;
}

.list-search-wrap form {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-search-input {
    width: 285px;
    height: 30px;
    font-size: 16px;
    background-color : rgba(230, 230, 230, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}

.search-btn {
    width: 80px;
    height: 30px;
    font-size: 16px;
    background-color: rgba(174, 208, 156, 0.8);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    margin-left: 4px;
}

.search-btn:hover {
    background-color: rgba(174, 208, 156, 1);
    cursor: pointer;
}

.reset-btn {
    background-color : rgba(230, 230, 230, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.reset-btn:hover {
    background-color : rgba(230, 230, 230, 1);
    cursor: pointer;
}

.list-content-wrap {
    width: inherit;
    border-top: 1px solid rgba(174, 208, 156, 1);
    border-bottom: 1px solid rgba(174, 208, 156, 1);
    margin: 10px 0;
}

.list-content-wrap th, td {
    font-weight: 600;
}

.list-content-wrap th, td {
    border-top: 1px solid rgba(174, 208, 156, 0.3);
    border-bottom: 1px solid rgba(174, 208, 156, 0.3);
    padding: 6px;
}

.list-content-wrap tr:hover {
    background-color : rgba( 230, 230, 230, 0.5);
}

.list-content-feeling {
    width: 28px;
    font-size: 16px;
    text-align: center;
}

.list-content-date {
    width: 68px;
    color: rgba(174, 208, 156, 1);
    text-align: center;
}

.list-page-btn-wrap {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}