@charset "UTF-8";
@import url("/diary/css/common.css");

.lunch-one-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.lunch-one-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkdate-container {
    width: 300px;
    margin-bottom: 5px;
}

.checkdate-message-wrap {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkdate-message-box {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkdate-message {
    font-size: 18px;
    font-weight: 600;
}

.checkdate-input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkdate-input {
    width: 180px;
    height: 30px;
    font-size: 16px;
    background-color : rgba( 230, 230, 230, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 10px;
}

.lunch-one-diary-btn {
    width: 80px;
    height: 30px;
    font-size: 16px;
    background-color: rgba(174, 208, 156, 0.8);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 15px;
}

.lunch-one-diary-btn:hover {
    background-color: rgba(134, 195, 93, 1);
    cursor: pointer;
}

.input-container {
    width: 300px;
}

.input-style {
    background-color: rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slect-diary-btn {
    width: 300px;
    height: 30px;
    font-size: 16px;
    background-color: rgba(174, 208, 156, 0.8);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 15px;
    margin-top: 5px;
}

.slect-diary-btn:hover {
    background-color: rgba(134, 195, 93, 1);
    cursor: pointer;
}