@charset "UTF-8";

* {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-400 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-500 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-600 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    font-style: normal;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.updateDiaryBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messageBox {
    display: flex;
    width: 316px;
    height: 30px;
    margin-bottom: 20px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 316px;
    font-size: 18px;
    font-weight: 600;
}

.checkDateInputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkDateInput input {
    width: 284px;
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.checkDateInput button {
    width: 316px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(174, 208, 156, 1);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.updateDiaryInputMood {
    width: 316px;
    height: 60px;
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.moodBox {
    display: flex;
    flex-direction: row;
}

.mood {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 17px;
    margin-right: 17px;
}

.updateDiaryInput input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    padding-left: 16px;
}

.updateDiaryInput textarea {
    width: 284px;
    height: 300px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    padding: 16px;
    resize: none;
}

.updateDiaryInput select {
    width: 316px;
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    background-color : rgba( 230, 230, 230, 0.5);
    border: none;
    border-radius: 20px;
    margin: 7px 0;
    padding-left: 16px;
}

.updateDiaryInput input::placeholder,
.updateDiaryInput textarea::placeholder {
    font-size: 14px;
}

.updateDiaryInput button {
    width: 316px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(174, 208, 156, 1);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
}

.prevBtn button {
    width: 316px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(230, 230, 230, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}